.mat-header-row {
  position: relative;
  .mat-column-actions {
    position: absolute;
    display: none;
  }
}
.mat-row {
  position: relative;
  .mat-column-actions {
    display: flex;
    position: absolute;
    border: 0;
    right: 0;
    top: 50%;
    transition: $transition;
    transform: translateY(-50%);
    button {
      width: 44px;
      height: 48px;
      transition: $transition;
      color: $secondary-color;
      &:hover {
        color: $primary-color;
      }
    }
  }


  .mat-column-progress {
    padding-right: 100px;
    @media only screen and (max-width: 1200px) {
      padding-right: 150px;
    }

    @media only screen and (max-width: 1400px) {
      padding-right: 130px;
    }
  }
}
