.departments {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid $secondary-color;
  &__title {
    font-size: 16px;
    font-family: $font-primary-bold;
    color: $primary-color;
    margin-bottom: 15px;
    display: block;
  }

  .departments-radio {
    margin-bottom: 15px;
    display: block;
  }
}
