.logo {
  padding: 30px 50px;

    &__title {
      font-size: 50px;
      color: $primary-color;
      font-family: $font-primary-bold;
      display: block;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        z-index: -1;
        bottom: -10px;
        right: 20px;
        display : inline-block;
        height : 0;
        width : 0;
        border-bottom : 50px solid $secondary-color;
        border-left : 50px solid transparent;
      }
    }

    &__slogan {
      font-size: 14px;
      color: $secondary-font-color;
      font-family: $font-secondary-regular;
      display: block;
      margin: 5px 0 0 15px;
    }
}
