<nav class="navigation">
  <ul>
    <li>
      <a class="navigation__action"
         href=""
         routerLink="users"
         routerLinkActive="active-link">
        <span class="navigation__label">Users<mat-icon>group</mat-icon></span>
      </a>
    </li>
    <li>
      <a class="navigation__action"
         href=""
         routerLink="user/create"
         routerLinkActive="active-link">
        <span class="navigation__label">Add user<mat-icon>person_add</mat-icon></span>
      </a>
    </li>
  </ul>
</nav>
