<div class="dialog">

  <div class="dialog__header">
    <h4 class="dialog__title">Delete user</h4>
    <button mat-dialog-close class="btn-icon dialog__close-btn">
      <mat-icon aria-hidden="false">close</mat-icon>
    </button>
  </div>

  <div class="dialog__content">
    <div class="dialog__content-inner">
      <label>
        Are you sure you want to delete this user?
      </label>
      <div class="dialog__desc">
        User name: <span>{{data.name}}</span>
      </div>
    </div>
  </div>

  <div class="dialog__actions">
    <button (click)="onCancel()" class="btn btn--primary btn--outlined">
      Cancel
    </button>
    <button
      class="btn btn--primary"
      (click)="onConfirm()"
      type="button"
    >
      Delete
    </button>
  </div>

</div>
