//THEME COLORS
$primary-color: #0140B6;
$secondary-color: #F7922E;
$tertiary-color: #A1BFD9;

// OTHER COLORS
$white-color: #ffffff;
$black-color: #000000;
$blue-color: #0387DF;
$light-grey: #DCDCDC;
$light-blue: #A1BFD9;
$warning-color: #DD0000;

//fonts
$font-primary-regular: 'nunito';
$font-primary-medium: 'nunito medium';
$font-primary-bold: 'nunito bold';

$font-secondary-regular: 'kaushan';

// THEME FONT COLORS
$primary-font-color: #212F3E;
$secondary-font-color: #556572;

//FONT SIZE
$font-size-xxs: 10px;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;

/*TRANSITIONS*/
$general-transition: all 300ms ease;

//border
$primary-border-radius: 4px;
