/*===============Angular material INPUT==============*/

// border-width on hover
.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end, .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap, .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start {
  border-width: 1px !important;
}

// border-color on hover
.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: $secondary-color !important;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding-top: 10px !important;
  display: flex;
}

.mat-input-element {
  font-family: $font-primary-regular !important;
  font-size: 14px !important;
  color: $secondary-font-color !important;
  padding: 0 !important;
}
.mat-form-field-label {
  font-family: $font-primary-regular !important;
  color: $primary-font-color !important;
  font-size: 14px !important;
}

// placeholder of input
.mat-input-element::placeholder{
  font-family: $font-primary-medium;
  font-size: 14px !important;
  color: $primary-font-color !important;
}


.mat-form-field-appearance-outline .mat-form-field-wrapper {
  padding: 0 !important;
  margin: 0 !important;
}

// label when focused
.mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label, .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  color: $secondary-font-color !important;
  top: 24px !important;
}

.mat-form-field-label-wrapper {
  overflow: visible !important;
}

// on hover change label colour
.mat-form-field-appearance-outline .mat-form-field-flex {
  height: 51px !important;
  padding: 0 16px !important;
  display: flex;
  align-items: center;
  &:hover {
    .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-empty.mat-form-field-label {
      color: $secondary-font-color !important;
      transition: $transition;
    }
  }
}
