.user {
  h2 {
    color: $primary-color;
  }
  &__content {
    form {
      display: flex;
      justify-content: space-between;
    }
  }
  &__section {
    width: 50%;
    padding: 50px;
    background-color: $white-color;
    border-radius: 20px;

    &.dark-theme {
      background-color: $secondary-color;
    }
  }
  &__cta {
    display: flex;
    justify-content: right;
    padding: 50px;
  }
}

