.breadcrumb {
  margin: 50px 0 10px;
  .xng-breadcrumb-item {
    font-family: $font-primary-regular;
    color: $secondary-color;
    font-size: 20px;
    a {
      font-size: 20px;
    }
    .xng-breadcrumb-trail {
      color: $primary-color;
      font-family: $font-primary-regular;
    }
  }
  .xng-breadcrumb-separator {
    margin: 0 4px;
    .mat-icon {
      font-size: 24px;
      color: $primary-color;
    }
  }
}

