.filter {
  margin-top: 70px;
  &__title {
    font-size: 18px;
    padding: 30px;
    color: $white-color;
    font-family: $font-primary-bold;
    background-color: $primary-color;
  }
  &__type {
    background-color: $white-color;
    padding: 20px;
  }

  &__actions {
    background-color: $white-color;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
}
