.navigation {
  margin-top: 100px;
  ul {
    li {
      margin-bottom: 10px;
      background-color: rgba($secondary-color, .04);
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      a {
        padding: 15px 10px;
        width: 100%;
        font-size: 16px;
        text-transform: uppercase;
        position: relative;
        font-family: $font-primary-bold;
        transition: $transition;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 5px;
          height: 100%;
          background-color: $primary-color;
          z-index: 1;
        }
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          background-color: rgba($secondary-color, 0.5);
          transition: all 300ms ease-in-out;
          z-index: 0;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }

        &:hover, &:focus, &.active-link {
          color: $white-color;
          &:after {
            width: 100%;
          }

        }

        mat-icon {
          margin-left: 20px;
          color: $primary-color;
        }
      }
    }
  }

  &__label {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
  }
}
